.btn-dan {
    background-color: $orange-color;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: .5rem;
    padding: 0.5rem;

    &:hover {
        background-color: $orange-color !important;
        border-color: $primary-color !important;
        color: $primary-color !important;
        filter: brightness(0.85);
        transform: scale(.98);
    }  
}
