* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-dan {
    background-color: #222831;
    min-height: 10vh;

    a {
        color: #eeeeee;
    }
    a:hover {
        color: #00ADB5;
        transform: scale(1.1);
        transition: .2s;
    }
}

.latest-article-section-dan {
    background-color: #393E46;

    h1,
    p {
        background-color: #00ADB5;
    }

}

.latest-article-dan {
    text-transform: capitalize;
    color: #eeeeee;
    min-height: 25vh;
    
    .card {
        border: none;
    }
}

.category-dan {
    
    a {
        color: #eeeeee;
        border-right: solid 2px;
        border-top: solid 2px;
        border-color: #00ADB5;
        flex-grow: 1; 
    }

    a:hover {
        color: #00ADB5;
        transition: .2s;
    }
}

.articles-dan {
    text-transform: capitalize;

    .card {
        border: none;
    }
    
    aside {
        background-color: #00ADB5;

        i,
        h3,
        h4,
        a {
            color: #eeeeee;
        }

        i:hover,
        a:hover {
            color: #222831;
            transform: scale(1.2);
            transition: .2s;
        }
    }
}



footer {
    height: 20vh;
    background-color: #222831;
    color: #eeeeee;
}


/* Media queries */

/* For larger screen size from 992px wide and down */
@media screen and (max-width: 992px) {
    .menu-dan {

        a:hover {
            color: #00ADB5;
            transform: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .category-dan {
    
        a {
            border-style: none; 
        }
    }
}