* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-jim {
    box-shadow: 0px 0px 4px black;
}

.logo-jim {
    width: 14rem;
    height: auto;
}

.social-icons-jim {
    color: #00ADB5;
    list-style: none;
}

.carousel-img-jim {
    width: 33%;
    height: auto;
}

.contact-img-jim {
    background: url(../images/contact-img.jpg) no-repeat;
    background-color: black;
    box-shadow: 0px 0px 10px inset black;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-img-jim h2 {
    color: white;
    background-color: #00acb5a9;
    text-shadow: 1px 1px black;
    padding: 0 0.5rem 0.3rem 0.5rem;
}

.img-jim {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: top;
}

.h1-jim {
    font-size: 40px;
    background-color: #00acb5a9;
    color: white;
    text-shadow: 1px 1px black;
    box-shadow: -15px -15px 0 0 rgba(0, 0, 0, 0.503);
    padding: 0 0.5rem 0.3rem 0.5rem;
}

.icon-jim {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    background: #00ADB5;
    margin: 0 auto;
    margin-bottom: 20px;
    &:hover {
        transition: 1s;
        transform: scale(1.5);
    }
}

.social-icons-jim {
    color: #00ADB5;
}

.bold-text-jim {
    font-weight: 700;
}

.btn-jim {
    background-color: #00ADB5;
    border: none;
    &:hover {
        background-color: #00939b !important;
        transition: 1s;
    }
}

.google-map-jim {
    height: 540px;
}

.form-shadow-jim {
    box-shadow: 0px 0px 10px #00ADB5;
}

.carousel-jim h3, .carousel-jim p {
    background-color: #00acb5a9;
    text-shadow: 1px 1px black;
}

.newsletter-jim {
    box-shadow: -20px -20px 0 0 rgba(0, 0, 0, 0.159);
    top: -25px;
    margin-top: 120px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.newsletter-jim h3 {
    padding: 0 10px 0px 10px;
}

.carousel-jim {
    white-space: nowrap;
}

.link-jim {
    color: white;
    &:hover {
        color: rgb(231, 231, 231);
    }
}

.svg-jim {
    font-size: 26px;
    font-weight: 700;
    animation: fadeIn 1s ease-in infinite alternate;
    width: 100px;
    height: 60px;
    text-shadow: 1px 1px 3px black;
}

@keyframes fadeIn {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1000;
    }
}

@media screen and (max-width: 768px) {
    .newsletter-wrap-jim {
        flex-wrap: wrap;
    }

    .newsletter-jim h3 {
        font-size: 18px;
    }

    .newsletter-jim h4 {
        font-size: 12px;
    }

    .newsletter-jim a {
        font-size: 10px;
    }

    .google-map-jim {
        height: 300px;
    }

    .carousel-jim h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {
    .carousel-img-jim {
        width: 50%;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .h1-jim {
        font-size: 20px;
    }

    .h2-jim {
        font-size: 14px;
    }

    .contact-img-jim {
        width: 100%;
        height: 25vh;
    }

    .carousel-jim h3 {
        line-height: 1.1;
    }

    .carousel-jim p {
        line-height: 1.1;
    }
}

@media screen and (max-width: 340px) {
    .logo-jim {
        width: 50vw;
        height: auto;
    }

    .carousel-jim h3 {
        font-size: 12px;
    }

    .carousel-jim p {
        font-size: 10px;
    }

    .svg-jim {
        font-size: 20px;
    }
}
