.img-tom {
    max-height: 70vh;
    min-height: 70vh;
    max-width: auto;
    overflow: hidden;
    object-fit: cover;
}
.body-tom {
    background-color: #00ADB5;
    color: #EEEEEE;
}
.nav-tom {
    background-color: #222831;
    color: #EEEEEE;
}
.navv-tom {
    background-color: #222831;
    color: #EEEEEE;
}
.link-tom {
    text-decoration: none;
    color: #EEEEEE;
    text-shadow: 2px 2px 4px #222831;
}
.link-tom:hover {
    color: #00ADB5;
}
.foot-tom {
    background-color: #222831;
    color: #EEEEEE;
}
.fot-tom {
    bottom: 0;
}
.carousel-indicators-tom button {
    height: 20px !important;
    width: 20px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: #00ADB5 !important;
}
.carousel-control-prev,
.carousel-control-next {
    background-color: #222831;
    opacity: .2;
}
.prev-tom {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300ADB5' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
.next-tom {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300ADB5' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
.article-tom {
    justify-content: center;
    text-align: center;

}
.col-tom {
    margin: 4px;
}
.picture-tom img {
    box-shadow: 0px 0px 4px 4px #222831;
    border-radius: 50%;
    max-height: 140px;
    max-width: 140px;
    min-height: 140px;
}