.img-tom {
    max-height: 70vh;
    min-height: 70vh;
    max-width: auto;
    overflow: hidden;
    object-fit: cover;
}
.body-tom {
    background-color: #00ADB5;
    color: #EEEEEE;
}
.nav-tom {
    background-color: #222831;
    color: #EEEEEE;
}
.nav-tom:hover {
    background-color: #393E46;
    color: #00ADB5;
}
.navv-tom {
    background-color: #222831;
}
.link-tom {
    text-decoration: none;
    color: #EEEEEE;
    text-shadow: 2px 2px 4px #222831;
}
.link-tom:hover {
    color: #00ADB5;
}
.carousel-indicators-tom button {
    height: 20px !important;
    width: 20px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: #00ADB5 !important;
}
.tom-prev,
.tom-next {
    background-color: #222831;
    opacity: .2;
}
.prev-tom {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300ADB5' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
.next-tom {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300ADB5' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
.article-tom {
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.col-tom {
    margin: 4px;
    text-shadow: 1px 1px #222831;
}
.picture-tom img {
    box-shadow: 0px 0px 4px 4px #222831;
    border-radius: 50%;
    max-height: 140px;
    max-width: 140px;
    min-height: 140px;
}
.main-tom {
    text-shadow: 2px 2px 4px #222831;
}
.info-tom {
    justify-content: center;
    text-align: center;
    padding: 5px;
    color: #EEEEEE;
    text-shadow: 1px 1px #222831;
}
.text-tom {
    padding: 20px;
    color: #EEEEEE;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
}
.info-tom2 {
    justify-content: center;
    text-align: center;
    padding: 5px;
    color: #EEEEEE;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    text-shadow: 1px 1px #222831;
}
.social-tom {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
    fill: #222831;
}
.fb-tom {
    max-width: 100px;
    max-height: 100px;
}
.fb-tom:hover {
    fill: #EEEEEE;
    transition: 0.7s;
    transition-timing-function: ease-out;
}
.insta-tom {
    max-width: 100px;
    max-height: 100px;
}
.insta-tom:hover {
    fill: #EEEEEE;
    transition: 0.7s;
    transition-timing-function: ease-out;
}
.youtube-tom {
    max-width: 100px;
    max-height: 100px;
}
.youtube-tom:hover {
    fill: #EEEEEE;
    transition: 0.7s;
    transition-timing-function: ease-out;
}
.twitt-tom {
    max-width: 100px;
    max-height: 100px;
}
.twitt-tom:hover {
    fill: #EEEEEE;
    transition: 0.7s;
    transition-timing-function: ease-out;
}
.footer-tom {
    background-color: #222831;
    text-shadow: 1px 1px #393E46;
    color: #EEEEEE;
    padding: 3rem;
}
.link-tom2 a {
    text-decoration: none;
    color: #EEEEEE;
    text-shadow: 2px 2px 4px #222831;
}
.link-tom2:hover a {
    color: #00ADB5;
}
.line-tom {
    border-top: 1px solid #EEEEEE;
    width: 85%;
    margin: auto;
    padding: 0.4rem;
}
.line-tom2 {
    border-top: 1px solid #EEEEEE;
    width: 100%;
    margin: auto;
    padding: 1rem;
}
.card-tom {
    text-shadow: 2px 2px 4px #222831;
    background-color: #00ADB5;
    color: #EEEEEE;
    border: 10px solid #00ADB5 !important;
    text-shadow: 1px 1px #393E46 !important;
    text-align: center;
}
.card-tom img {
    border-radius: 20%;
    box-shadow: 5px 10px #393E46;
}
.card-tom:hover img {
    filter: blur(5px);
    transition: 0.8s;
}
.card-tom:hover .link-tom {
    color: #00ADB5;
}
.text-tom2 {
    position: absolute;
    bottom: 10px;
    background-color: #222831;
    color: #EEEEEE
}
.form-tom {
    text-align: center;
    text-shadow: 1px 1px #222831;
}
.butt-tom {
    background-color: #222831;
    color: #EEEEEE;
}
.butt-tom:hover {
    background-color: #393E46;
}
.thankyou-tom {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 30vh;
    text-shadow: 1px 1px #222831;
}
.form2-tom {
    padding: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #393E46;
    text-align: center;
    text-shadow: 2px 2px #222831;
}
.h1form2-tom {
    text-align: center;
    text-shadow: 1px 1px #393E46;
}
.textarea2-tom {
    min-height: 200px;
    width: 200px;
    resize: both;
}
.adress2-tom label {
    margin: 5px;
}
.names2-tom label {
    margin: 5px;
}
.button2-tom {
    height: 20vh;
    width: 20vw;
    background-color: #00ADB5;
    font-size: larger;
    font-style: oblique;
}
.button2-tom:hover {
    background-color: rgb(13, 101, 13);
}
.reset2-tom {
    height: 10vh;
    width: 10vw;
    background-color: #222831;
    font-size: large;
    font-style: oblique;
}
.reset2-tom:hover {
    background-color: rgb(187, 5, 5);
}
.infoform-tom {
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px #393E46;
}
#hidden-tom {
    display: none;
}
.card-tom:hover #hidden-tom {
    display: block;
}
.nolink-tom {
    text-decoration: none;
    color: rgb(227, 67, 67);
    text-shadow: 2px 2px 4px #393E46;
    font-size: xx-large;
    margin-top: 25%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #222831;
}
.larger-tom {
    font-size: x-large;
    margin-top: 25%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #222831;
    text-shadow: 2px 2px 4px #393E46;
}.connect-tom {
    margin-top: 10px;
    margin-bottom: 0;
}
@media screen and (max-width: 500px) {
    ul {
        display: block;
        width: 100%;
    }
    .div-textbox {
        float:none;
        width: auto;
    }
}